.navigation {
  background-color: #5297e5;
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.search {
  display: flex;
}

.search > input {
  width: 250px;
  height: 35px;
  border: none;
  padding-left: 8px;
}

.search > input:focus {
  outline: 0;
  background-color: aliceblue;
}

.search > button {
  cursor: pointer;
  height: 35px;
  border: none;
  padding: 0 10px;
  background-color: #f8d35a;
}

.create > button {
  background-color: #f8d35a;
  height: 35px;
  padding: 0 10px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  button > span {
    display: none;
  }
}
